@{
    ViewBag.Title = "Create Account";
}

<style type="text/css">

    #button {
        border: 3px solid black;
        padding: 5px;
        text-align: center;
        width: 300px;
        margin: 3px auto;
    }
    #input {
        text-align: left;
        width: 200px;
        margin: 0 auto;
        height: 25px;
        margin-bottom: 5px;
    }
    #label {
        text-align: left;
        width: 200px;
        margin: 0 auto;
    }
    #div {
        text-align: center
    }
    #submit{
        width: 80px;
    }
</style>

<div class="jumbotron">
    <h1 style="text-align:center">Vehicle Register Home</h1>
    <p style="text-align:center">@ViewBag.Message</p>
</div>

<div id="div" class="row">
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("RegisterVehicleView", "VehicleRegister")'">Register New Vehicle</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("GetVehicleList", "VehicleRegister")'">Get List Of All Vehicles</button>
    </div>
    <div id="button">
        <form action="GetVehicle" method="post">
            <div>
                <label type="label">Get Vehicle</label>
            </div>
            <input type="text" id="input" name="registrationnumber" minlength="6" maxlength="6" required>
            <input id="submit" type="submit" value="Get">
        </form>
    </div>
    <div id="button">
        <form action="RemoveVehicle" method="post">
            <div>
                <label type="label">Remove Vehicle</label>
            </div>
            <input type="text" id="input" name="registrationnumber" minlength="6" maxlength="6" required>
            <input id="submit" type="submit" value="Remove">
        </form>
    </div>
    <div id="button">
        <form action="UpdateVehicleView" method="post">
            <div>
                <label type="label">Update Vehicle</label>
            </div>
            <input type="text" id="input" name="registrationnumber" minlength="6" maxlength="6" required>
            <input id="submit" type="submit" value="Update">
        </form>
    </div>
    <div id="button">
        <form action="CompleteService" method="post">
            <div>
                <label type="label">Complete Service</label>
            </div>
            <input type="text" id="input" name="registrationnumber" minlength="6" maxlength="6" required>
            <input id="submit" type="submit" value="Complete">
        </form>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("BookServiceView", "VehicleRegister")'">Book Service For Vehicles</button>
    </div>
</div>
